## Pandas Series

https://pandas.pydata.org/docs/reference/api/pandas.Series.html

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [3]:
pd.Series(data= my_data)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data= my_data, index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(arr,labels)

0    10
1    20
2    30
dtype: int32

In [14]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(data=[sum,len,print])

0      <built-in function sum>
1      <built-in function len>
2    <built-in function print>
dtype: object

In [21]:
ser1 = pd.Series([1,2,3,4,5],['usa','canada','Austlia','japan','bangladesh'])

In [22]:
ser1

usa           1
canada        2
Austlia       3
japan         4
bangladesh    5
dtype: int64

In [25]:
ser2 = pd.Series([1,2,3,4,5], ['usa','Germany','canada','italy','japan'])

In [27]:
ser2

usa        1
Germany    2
canada     3
italy      4
japan      5
dtype: int64

In [28]:
ser1['usa']

1

In [29]:
ser1['bangladesh']

5

In [5]:
ser3 = pd.Series(data=labels)

In [32]:
ser3

0    a
1    b
2    c
dtype: object

In [7]:
print(ser3[0])
print(ser3[1])

a
b

In [36]:
ser1+ser2

Austlia       NaN
Germany       NaN
bangladesh    NaN
canada        5.0
italy         NaN
japan         9.0
usa           2.0
dtype: float64