In [8]:
# Onley execuite this cell when the notebook in google colab

# from google.colab import data_table
# data_table.enable_dataframe_formatter()

## Panda DataFrames Part-1 

### Create and grab info from DataFrame

In [85]:
import numpy as np
import pandas as pd

In [86]:
from numpy.random import randn

More about the random.seed() [here](https://www.geeksforgeeks.org/random-seed-in-python/)

In [4]:
np.random.seed(101)

In [17]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [18]:
df

          W         X         Y         Z
A -0.476513  1.355815 -0.843936  1.518683
B  0.609532 -0.318952  0.442746  0.002131
C  0.729640  0.397417  1.366354  0.006152
D  1.135122 -0.212763  1.205055 -1.150617
E  0.194104  1.793847 -0.143995  1.234849

In [7]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [8]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [9]:
df['New'] = df['Z'] + df['Y']

In [10]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  1.411795
B  0.651118 -0.319318 -0.848077  0.605965 -0.242112
C -2.018168  0.740122  0.528813 -0.589001 -0.060187
D  0.188695 -0.758872 -0.933237  0.955057  0.021819
E  0.190794  1.978757  2.605967  0.683509  3.289476

In [11]:
df.drop('New',axis=1) # axis refers to 0 is rows and 1 is to coloum.

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [12]:
df

          W         X         Y         Z       New
A  2.706850  0.628133  0.907969  0.503826  1.411795
B  0.651118 -0.319318 -0.848077  0.605965 -0.242112
C -2.018168  0.740122  0.528813 -0.589001 -0.060187
D  0.188695 -0.758872 -0.933237  0.955057  0.021819
E  0.190794  1.978757  2.605967  0.683509  3.289476

In [13]:
df.drop('New',axis=1, inplace=True)

In [14]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [17]:
df.drop('E',axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [15]:
df.shape

(5, 4)

In [16]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
#Seclecting row
# print(type(df.loc['A']))
print('There is 2 way to access the rows(.loc)->location and (.iloc)->index location')
print(df.loc['C'])
print(df.iloc[2])

There is 2 way to access the rows(.loc)->location and (.iloc)->index location
W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64
W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [18]:
df.loc['B','Y']

-0.8480769834036315

In [19]:
df.loc[['A','B'],['W','Y']]

          W         Y
A -0.476513 -0.843936
B  0.609532  0.442746

## Panda DataFrames Part-2
### Conditional Selections and Multi-Index of DataFrame

In [22]:
#conditional secections
bool_df = df > 0

In [24]:
df[bool_df]

          W         X         Y         Z
A       NaN  1.355815       NaN  1.518683
B  0.609532       NaN  0.442746  0.002131
C  0.729640  0.397417  1.366354  0.006152
D  1.135122       NaN  1.205055       NaN
E  0.194104  1.793847       NaN  1.234849

In [26]:
df['W'] > 0

A    False
B     True
C     True
D     True
E     True
Name: W, dtype: bool

In [30]:
df[df['W']>0] #-> that means value of coloum 'W' where value is greater then zero. Return intire row.

          W         X         Y         Z
B  0.609532 -0.318952  0.442746  0.002131
C  0.729640  0.397417  1.366354  0.006152
D  1.135122 -0.212763  1.205055 -1.150617
E  0.194104  1.793847 -0.143995  1.234849

In [28]:
df[df['Z']<0] #-> that means value of coloum 'Z' where value is less then zero. Return intire row.

          W         X         Y         Z
D  1.135122 -0.212763  1.205055 -1.150617

In [32]:
resultdf = df[df['W']>0]

In [37]:
resultdf['X']

B   -0.318952
C    0.397417
D   -0.212763
E    1.793847
Name: X, dtype: float64

In [39]:
df[df['W']>0]['X']

B   -0.318952
C    0.397417
D   -0.212763
E    1.793847
Name: X, dtype: float64

In [42]:
df[df['W']>0][['Y','X']]

          Y         X
B  0.442746 -0.318952
C  1.366354  0.397417
D  1.205055 -0.212763
E -0.143995  1.793847

In [44]:
boolser = df['W']>0
result = df[boolser]
mycols = ['Y','X']
result[mycols]

          Y         X
B  0.442746 -0.318952
C  1.366354  0.397417
D  1.205055 -0.212763
E -0.143995  1.793847

In [58]:
cond = (df['W']>0) & (df['Y']>1)
print('1st way:\n',df[cond])
#same as 
print('2nd way:\n',df[(df['W']>0) & (df['Y']>1)])

1st way:
           W         X         Y         Z
C  0.729640  0.397417  1.366354  0.006152
D  1.135122 -0.212763  1.205055 -1.150617
2nd way:
           W         X         Y         Z
C  0.729640  0.397417  1.366354  0.006152
D  1.135122 -0.212763  1.205055 -1.150617

In [62]:
df.reset_index(inplace= True)

In [63]:
df

  index         W         X         Y         Z
0     A -0.476513  1.355815 -0.843936  1.518683
1     B  0.609532 -0.318952  0.442746  0.002131
2     C  0.729640  0.397417  1.366354  0.006152
3     D  1.135122 -0.212763  1.205055 -1.150617
4     E  0.194104  1.793847 -0.143995  1.234849

In [65]:
newidx = 'CA NY WY OR CO'.split()
print(newidx)

['CA', 'NY', 'WY', 'OR', 'CO']

In [67]:
df['States'] = newidx

In [69]:
df

  index         W         X         Y         Z States
0     A -0.476513  1.355815 -0.843936  1.518683     CA
1     B  0.609532 -0.318952  0.442746  0.002131     NY
2     C  0.729640  0.397417  1.366354  0.006152     WY
3     D  1.135122 -0.212763  1.205055 -1.150617     OR
4     E  0.194104  1.793847 -0.143995  1.234849     CO

In [71]:
newdf = df

In [82]:
newdf.drop('index', axis=1)
newdf.set_index('States')

       index         W         X         Y         Z
States
CA         A -0.476513  1.355815 -0.843936  1.518683
NY         B  0.609532 -0.318952  0.442746  0.002131
WY         C  0.729640  0.397417  1.366354  0.006152
OR         D  1.135122 -0.212763  1.205055 -1.150617
CO         E  0.194104  1.793847 -0.143995  1.234849

In [84]:
newdf

  index         W         X         Y         Z States
0     A -0.476513  1.355815 -0.843936  1.518683     CA
1     B  0.609532 -0.318952  0.442746  0.002131     NY
2     C  0.729640  0.397417  1.366354  0.006152     WY
3     D  1.135122 -0.212763  1.205055 -1.150617     OR
4     E  0.194104  1.793847 -0.143995  1.234849     CO

## Panda DataFrames Part-3
### Multi-Index and Index Hierarchy

In [87]:
#index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [92]:
list(zip(outside,inside))

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [94]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [96]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [97]:
df

             A         B
G1 1 -1.763298  0.573121
   2  1.787396 -1.518842
   3  0.611871  0.681433
G2 1  0.244462  0.222045
   2 -0.260037  0.494254
   3 -0.685511  1.246923